<!DOCTYPE HTML5>
<html>
	<head>
		<title> MEGMINO </title>
		
		<style>
			#board {
				display: flex;
			}
			
			#board p {
				margin: 5px;
			}
		</style>
	</head>
	
	<body>
		<div id="app">
			<div id="board">
				<button :disabled="!(placingStone && stoneInSide(selectedStone, 0))"
						@click="placeStone(selectedStone, 'left')">
					(-
				</button>

				<p>{{ gameState.board.toStr() }}</p>

				<button :disabled="!(placingStone && stoneInSide(selectedStone, 1))"
						@click="placeStone(selectedStone, 'right')">
					-)
				</button>
			</div>

			<div id="players">
					<div v-for="player in gameState.players"
						 :style="{backgroundColor: player == gameState.getActivePlayer() ? 'coral' : 'white'}">
						<p>{{player.name}}</p>
						<button v-for="stone in player.stones"
								@click="stoneOnClick(stone)"
								:disabled="stoneDisabled(player, stone)">
							{{stone.toStr()}}
						</button>
						<button :disabled="passDisable(player)"
								@click="passTurn">Paso</button>
				</div>
			
			</div>
		</div>
		
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script type="application/javascript" src="axios.js"></script>
		<script type="application/javascript" src="main.js"></script>
	</body>
</html>
