<!DOCTYPE HTML5>
<html>
	<head>
		<title> MEGMINO </title>
		
		<link rel="stylesheet" href="style.css">
	</head>
	
	<body>
		<div id="app">
			<login v-if="display === 'login'"
			       @logged-in="registerUser"></login>

		    <lobby v-if="display === 'lobby'"
				   v-bind:user="user"
		   		   @joined-game="joinGame"></lobby>
		   		   
		   	<pre-board v-if="display === 'pre-board'"
					   v-bind:game-session-id="gameSessionId"
					   @started-game="startGame"></pre-board>
			
			<board v-if="display === 'board'"
				   v-bind:game-session-id="gameSessionId"
				   v-bind:player-name="user.user_name"
				   v-bind:player-id="user.id"></board>
		</div>
		
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script type="application/javascript" src="axios.js"></script>
		<script type="application/javascript" src="login.js"></script>
		<script type="application/javascript" src="lobby.js"></script>
		<script type="application/javascript" src="pre-board.js"></script>
		<script type="application/javascript" src="domino.js"></script>
		<script type="application/javascript" src="board.js"></script>
		<script type="application/javascript" src="main.js"></script>
	</body>
</html>
